---
layout: post
title:  "Modern Pie Company"
subtitle: ", university HCi project"
date: 20/05/2017
color1: "#34D4C1"
color2: "#28FABE"
role:
  - Project Manager
  - Front-end Development
  - Design
tech:
  - JADE (Pug)
  - SASS
  - PHP
  - JS
description: "A university project to create a website for a hipster restuarant in Reading"
brief: "A university project to create a website for a hipster restuarant in Reading, I worked as lead developer and as the project manager"
permalink: /projects/modernpie/
project_url: "//github.com/webSmart001/MPC"
category: "case study"
canonical: "Case Study"
---

<p>The <a class="{{site.link_classes}}" href="https://github.com/webSmart001/MPC">Modern Pie company</a> was created for a university human computer interaction course. I worked with 
and led a team of 4 other team members. Team members were all assigned roles based on their skills, due to this I lead as project manager and as the lead developer.</p>

<br>

<h2 class="{{site.post_heading_classes}}">Design</h2>

<p>The design needed to be kept minimal but there are some powerful back-end techniques used to make the web-app
  run more efficiently and faster on both desktop and mobile. By bootstrapping the site most of the layout of the site
  follows a uniform struture, maintaining the quality of grids across devices and browsers.</p>
<!--
<div class="cf ph3-l center">
  <figure class="tc db mv2 fl w-100 w-50-m w-25-l ma0 ph2-m ph3-l">
    {% include image.html url="theblackbox" type="png" alt="The Black Box" %}
  </figure>
  <figure class="tc db mv2 fl w-100 w-50-m w-25-l ma0 ph2-m ph3-l">
  {% include image.html url="starbucks" type="png" alt="Starbucks" %}
  </figure>
  <figure class="tc db mv2 fl w-100 w-50-m w-25-l ma0 ph2-m ph3-l">
    {% include image.html url="established" type="png" alt="Established Coffee" %}
  </figure>
  <figure class="tc db mv2 fl w-100 w-50-m w-25-l ma0 ph2-m ph3-l">
    {% include image.html url="themac" type="png" alt="The Mac" %}
  </figure>
</div>-->


<p>The website needed to follow a few basic requirements:</p>

<ol>
  <li>A reservation page</li>
  <li>Daily specials menu</li>
  <li>Quick loading</li>
  <li>Accesibilty options for people of varying ability</li>
  <li>Staff page - showing active staff and their department</li>
</ol>

<p>The design needed to be comprehensive with clean design. The site was content first, demonstrating 
  that the content needed to be placed at the forefront. Beacuse of this simple, clean fonts and colours 
  are used in conjunction to aid the readabilty of the forms and the menu.
</p>

<div class="mw8 center mv4">
  <div class="flex flex-wrap justify-around">
    <div class="br-100 w4 h4 ma2 ma3-ns" style="background-color: #1C1E2E;">
    </div>
    <div class="br-100 w4 h4 ma2 ma3-ns" style="background-color: #eae3ea">
    </div>
    <div class="br-100 w4 h4 ma2 ma3-ns" style="background-color: #b4dbc0">
    </div>
    <div class="br-100 w4 h4 ma2 ma3-ns" style="background-color: #a7b3a5">
    </div>
    <div class="br-100 w4 h4 ma2 ma3-ns" style="background-color: #b56357">
    </div>
    <div class="br-100 w4 h4 ma2 ma3-ns" style="background-color: #dc635a">
    </div>
  </div>
</div>
 
<br>
 
<h2 class="{{site.post_heading_classes}}">Accessibility First</h2>

<p>When analysing earlier versions of the site it was found that there was a lack of user accessibility dependant on user age. To combat this 
  accessibility buttons were added to the navigation bar. The design of the site changes largely when the accessibility version of the site is accessed.</p>

<br>

<blockquote class="mw7 center f3 lh-copy mv5">
  &ldquo;Web accessibility refers to the inclusive practice of <mark class="fs-normal bg-yellow">removing</mark> barriers that prevent interaction with, or access to websites.&rdquo;
</blockquote>

{% include figure.html url="accs-ModernPie" type="png" alt="Accessibility of the site" caption="Show the website after accessibility" %}

<br>

<h2 class="{{site.post_heading_classes}}">It's fast</h2>

<p>With a load time of around 300ms over 30Mb/s this is definitely the fastest site I have built to date. Here are some of the methods I used to achieve this:</p>

<ol>
  <li><strong>SVG Sprite</strong> - All icons on the page are grouped into an svg sprite and inlined in the head of the document. This saves on requests for individual icons and because it's all SVG, the overhead is tiny. You can read more about svg sprites and how to utilise them <a class="{{site.link_classes}}" href="https://css-tricks.com/svg-sprites-use-better-icon-fonts/">here</a></li>
  <li><strong>CSS Development with Tachyons</strong> - This was my first time using <a class="{{site.link_classes}}" href="http://tachyons.io/">Tachyons</a> and I’m very impressed with it. Regardless of your thoughts on atomic vs semantic css, you can’t deny the performance benefits of using a library such as Tachyons. Paired with uncss, which strips out all unused CSS, the total CSS size comes to just 7kb, and thats before gzipping.</li>
  <li><strong>Inlining CSS</strong> - To stop CSS render blocking the page before it has loaded I inlined it in the head of the document. The maximum size Google recommends for inlined CSS is 14kb so at 7kb it was a no brainer to just inline all of it.</li>
  <li><strong>Concatenate, minify and asynchronously load js</strong> - This is easy to do with a gulp task and means less requests to the browser. Adding <code class="{{site.code_classes}}">async</code> to the script tag means it can be loaded asynchronously also.</li>
  <li><strong>SSL</strong> - Having SSL enabled gives you access to HTTP/2 and service workers. Github Pages does provide free SSL, but only for their <code class="{{site.code_classes}}">username.github.io</code> domains and not custom domains. The easiest way to get around this is to just use <a class="{{site.link_classes}}" href="https://www.cloudflare.com/">Cloudflare</a> as they provide free SSL certs.</li>
  <li><strong>Cloudflare</strong> - Github Pages is already fast but adding Cloudflare means free SSL, a better CDN and more customisable caching options.</li>
</ol>

<br>

<p>Visit the Modern Pie Company<a class="{{site.link_classes}}" href="https://github.com/webSmart001/MPC"> source code</a>.</p>
