/* Color Theme Swatches in RGBA */
$body-text-colour: rgba(1,34,38, 1);
$feature-colour: rgba(22,77,89, 1);
$feature-colour-muted: rgba(21,82,89, 1);
$body-text-quiet: rgba(166,161,151, 1);
$feature-text-colour: rgba(217,209,199, 1);
$white: rgba(255, 255, 255, 1);
